body {
	--board-radius: 20px;
	--chess-squares: url(../img/squares/classic.png);
	--chess-pieces: url(../img/pieces/classic.png);
}

#chess-board {
	aspect-ratio: 1/1;
	position: relative;
}

#chess-board > * {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	pointer-events: none;
}

#chess-squares {
	display: flex;
	flex-flow: wrap;
}

#chess-board.chess-board-rotated #chess-squares {
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: wrap-reverse;
}

#chess-pieces, .chess-piece {
	z-index: 2;
}

#chess-promotion, #chess-promotion-white, #chess-promotion-black {
	z-index: 3;
}

#chess-ending {
	background-color: rgba(0, 0, 0, 0.75);
	z-index: 4;
	border-radius: var(--board-radius);
	pointer-events: none;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	opacity: 0;
	transition: opacity 0.1s ease-out;
}

#chess-ending.chess-ending-visible {
	opacity: 1;
}

#chess-ending-text {
	color: white;
	font-size: 48px;
}

.chess-square {
	width: 12.5%;
	height: 12.5%;
    background-image: var(--chess-squares);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: calc(100% / 7 * var(--img-index)) 0;
	pointer-events: all;
}

.chess-square.chess-square-droppable {
	cursor: pointer;
}

.chess-square.light-square { --img-index: 1; }
.chess-square.dark-square { --img-index: 0; }

.chess-square.chess-square-highlighted.light-square,
.chess-square.chess-square-highlighted-current.light-square { --img-index: 3; }
.chess-square.chess-square-highlighted.dark-square,
.chess-square.chess-square-highlighted-current.dark-square { --img-index: 2; }

.chess-square.chess-square-droppable.light-square { --img-index: 5; }
.chess-square.chess-square-droppable.dark-square { --img-index: 4; }

#chess-board:not(.chess-board-rotated) .chess-square:nth-child(1) { border-top-left-radius: var(--board-radius); }
#chess-board:not(.chess-board-rotated) .chess-square:nth-child(8) { border-top-right-radius: var(--board-radius); }
#chess-board:not(.chess-board-rotated) .chess-square:nth-child(57) { border-bottom-left-radius: var(--board-radius); }
#chess-board:not(.chess-board-rotated) .chess-square:nth-child(64) { border-bottom-right-radius: var(--board-radius); }

#chess-board.chess-board-rotated .chess-square:nth-child(64) { border-top-left-radius: var(--board-radius); }
#chess-board.chess-board-rotated .chess-square:nth-child(57) { border-top-right-radius: var(--board-radius); }
#chess-board.chess-board-rotated .chess-square:nth-child(8) { border-bottom-left-radius: var(--board-radius); }
#chess-board.chess-board-rotated .chess-square:nth-child(1) { border-bottom-right-radius: var(--board-radius); }

.chess-piece {
	width: calc(100% / 8);
	height: calc(100% / 8);
	position: absolute;
	--row: 0;
	--column: 0;
	bottom: calc(100% / 8 * var(--row));
	left: calc(100% / 8 * var(--column));
	pointer-events: all;
	cursor: pointer;
}

#chess-board.chess-board-rotated .chess-piece {
	bottom: calc(100% / 8 * (7 - var(--row)));
	left: calc(100% / 8 * (7 - var(--column)));
}

.chess-piece div {
	position: absolute;
	width: 100%;
	height: 100%;
    background-image: var(--chess-pieces);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: calc(100% / 11 * var(--img-index)) 0;
}

#chess-check-square {
	display: none;
	box-shadow: 0px 0px 20px 20px red;
	width: 0;
	height: 0;
	background-color: white;
	border-radius: 50%;
	position: absolute;
	left: 50%;
	top: 50%;
}

.chess-piece.light-pawn { --img-index: 0; }
.chess-piece.light-knight, #chess-promotion-white .chess-promotion-knight { --img-index: 1; }
.chess-piece.light-bishop, #chess-promotion-white .chess-promotion-bishop { --img-index: 2; }
.chess-piece.light-rook, #chess-promotion-white .chess-promotion-rook { --img-index: 3; }
.chess-piece.light-queen, #chess-promotion-white .chess-promotion-queen { --img-index: 4; }
.chess-piece.light-king { --img-index: 5; }
.chess-piece.dark-pawn { --img-index: 6; }
.chess-piece.dark-knight, #chess-promotion-black .chess-promotion-knight { --img-index: 7; }
.chess-piece.dark-bishop, #chess-promotion-black .chess-promotion-bishop { --img-index: 8; }
.chess-piece.dark-rook, #chess-promotion-black .chess-promotion-rook { --img-index: 9; }
.chess-piece.dark-queen, #chess-promotion-black .chess-promotion-queen { --img-index: 10; }
.chess-piece.dark-king { --img-index: 11; }

#chess-board.chess-board-rot-pieces-all .chess-piece.light-pawn,
#chess-board.chess-board-rot-pieces-all .chess-piece.light-knight,
#chess-board.chess-board-rot-pieces-all .chess-piece.light-bishop,
#chess-board.chess-board-rot-pieces-all .chess-piece.light-rook,
#chess-board.chess-board-rot-pieces-all .chess-piece.light-queen,
#chess-board.chess-board-rot-pieces-all .chess-piece.light-king,
#chess-board.chess-board-rot-pieces-all #chess-promotion-white .chess-promotion-piece,
#chess-board.chess-board-rot-pieces-opp.chess-board-rotated .chess-piece.light-pawn,
#chess-board.chess-board-rot-pieces-opp.chess-board-rotated .chess-piece.light-knight,
#chess-board.chess-board-rot-pieces-opp.chess-board-rotated .chess-piece.light-bishop,
#chess-board.chess-board-rot-pieces-opp.chess-board-rotated .chess-piece.light-rook,
#chess-board.chess-board-rot-pieces-opp.chess-board-rotated .chess-piece.light-queen,
#chess-board.chess-board-rot-pieces-opp.chess-board-rotated .chess-piece.light-king,
#chess-board.chess-board-rot-pieces-opp.chess-board-rotated #chess-promotion-white .chess-promotion-piece,
#chess-board.chess-board-rot-pieces-all .chess-piece.dark-pawn,
#chess-board.chess-board-rot-pieces-all .chess-piece.dark-knight,
#chess-board.chess-board-rot-pieces-all .chess-piece.dark-bishop,
#chess-board.chess-board-rot-pieces-all .chess-piece.dark-rook,
#chess-board.chess-board-rot-pieces-all .chess-piece.dark-queen,
#chess-board.chess-board-rot-pieces-all .chess-piece.dark-king,
#chess-board.chess-board-rot-pieces-all #chess-promotion-black .chess-promotion-piece,
#chess-board.chess-board-rot-pieces-opp:not(.chess-board-rotated) .chess-piece.dark-pawn,
#chess-board.chess-board-rot-pieces-opp:not(.chess-board-rotated) .chess-piece.dark-knight,
#chess-board.chess-board-rot-pieces-opp:not(.chess-board-rotated) .chess-piece.dark-bishop,
#chess-board.chess-board-rot-pieces-opp:not(.chess-board-rotated) .chess-piece.dark-rook,
#chess-board.chess-board-rot-pieces-opp:not(.chess-board-rotated) .chess-piece.dark-queen,
#chess-board.chess-board-rot-pieces-opp:not(.chess-board-rotated) .chess-piece.dark-king,
#chess-board.chess-board-rot-pieces-opp:not(.chess-board-rotated) #chess-promotion-black .chess-promotion-piece {
	transform: rotate(180deg);
}

#chess-promotion-white, #chess-promotion-black {
    position: absolute;
    width: 12.5%;
    height: 62.5%;
    border-radius: var(--board-radius);
	left: calc(100% / 8 * var(--column));
    background-color: white;
    display: none;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
	pointer-events: all;
}

#chess-board.chess-board-rotated #chess-promotion-white, #chess-board.chess-board-rotated #chess-promotion-black {
	left: calc(100% / 8 * (7 - var(--column)));
}

#chess-board:not(.chess-board-rotated) #chess-promotion-white, #chess-board.chess-board-rotated #chess-promotion-black {
    top: 0;
    flex-direction: column;
}

#chess-board:not(.chess-board-rotated) #chess-promotion-black, #chess-board.chess-board-rotated #chess-promotion-white {
    bottom: 0;
    flex-direction: column-reverse;
}

.chess-promotion-piece, .chess-promotion-cancel {
    width: 100%;
    height: 100%;
    background-size: 100%;
    cursor: pointer;
}

.chess-promotion-piece {
    background-image: var(--chess-pieces);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: calc(100% / 11 * var(--img-index)) 0;
	cursor: pointer;
}

.chess-promotion-cancel {
    background-color: #e0e0e0;
    background-image: url("../img/icons/cross.png");
	cursor: pointer;
}

#chess-board:not(.chess-board-rotated) #chess-promotion-white .chess-promotion-cancel, #chess-board.chess-board-rotated #chess-promotion-black .chess-promotion-cancel {
    border-radius: 0px 0px var(--board-radius) var(--board-radius);
}

#chess-board:not(.chess-board-rotated) #chess-promotion-black .chess-promotion-cancel, #chess-board.chess-board-rotated #chess-promotion-white .chess-promotion-cancel {
    border-radius: var(--board-radius) var(--board-radius) 0px 0px;
}