html {
	-ms-touch-action: manipulation;
	touch-action: manipulation;
}

* {
	-webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	outline: none !important;
}

body {
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	background: black;
	--background: url("../img/backgrounds/forest.png");
	--info-color: #444444;
	--info-bg: linear-gradient(to bottom right, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.2));
	overflow: hidden;
}

body, p {
	margin: 0;
}

#background {
	width: 100%;
	height: 100vh;
	background-image: var(--background);
	background-size: cover;
	background-position: 50% 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 20px;
}

#header, #footer {
	width: 100%;
	height: 60px;
	background-color: rgba(0, 0, 0, 0.9);
	color: white;
	box-sizing: border-box;
	padding: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
}

#header {
	font-weight: 600;
	font-size: 36px;
}

#footer {
	font-weight: 300;
	font-size: 24px;
}

#main {
	flex-grow: 1;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

}

#main.is-vertical {
	padding: 0;
}

#container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 50px;
	height: 100%;
	box-sizing: border-box;
}

#main.is-vertical #container {
	flex-direction: column;
}

.chess-moves.vertical {
	width: 100%;
	aspect-ratio: 11/1;
	background-color: var(--info-color);
	background-image: var(--info-bg);
}

.chess-buttons.vertical {
	width: 100%;
	aspect-ratio: 11/1;
	background-color: var(--info-color);
	background-image: var(--info-bg);
}

#main.is-vertical .horizontal {
	display: none;
}

#main:not(.is-vertical) .vertical {
	display: none;
}

#chess-board {
	height: 100%;
}

#main.is-vertical #chess-board {
	width: 100%;
	height: auto;
}

#chess-info {
	background-color: var(--info-color);
	background-image: var(--info-bg);
	aspect-ratio: 2/3;
	height: 100%;
	border-radius: var(--board-radius);
	color: white;
	--size-ratio: 1;
	display: flex;
	flex-direction: column;
}

#chess-info-main {
	display: flex;
	flex-direction: column;
	gap: calc(10px * var(--size-ratio));
	padding: calc(10px * var(--size-ratio)) 0;
}

#chess-info-process {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: calc(10px * var(--size-ratio));
	padding: 0 calc(10px * var(--size-ratio));
}

#chess-info-process-text {
	font-size: calc(30px * var(--size-ratio));
	text-transform: capitalize;
	font-variant: small-caps;
}

.chess-info-button {
	font-size: calc(20px * var(--size-ratio));
	height: calc(35px * var(--size-ratio));
	text-transform: capitalize;
	font-variant: small-caps;
	padding: 0 calc(5px * var(--size-ratio));
	gap: calc(5px * var(--size-ratio));
	background-color: #2a2a2a;
	color: white;
	background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.05), rgba(0, 0, 0, 0.05));
	border-radius: calc(10px * var(--size-ratio));
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: 0.15s background-color ease-out;
	user-select: none;
}

.chess-info-button:hover {
	background-color: #202020;
}

.chess-info-button:active {
	background-color: #151515;
}

#chess-info-players {
	display: flex;
	flex-direction: column;
}

.chess-info-player {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: calc(4px * var(--size-ratio)) calc(10px * var(--size-ratio)) calc(4px * var(--size-ratio)) calc(15px * var(--size-ratio));
	gap: calc(8px * var(--size-ratio));
}

.chess-info-player-move {
	width: calc(12px * var(--size-ratio));
	height: calc(12px * var(--size-ratio));
	border-radius: 50%;
	background-color: #ffd100;
}

.chess-info-player-text {
	flex-grow: 1;
	font-size: calc(20px * var(--size-ratio));
}

.chess-info-player:nth-child(1) {
	background-image: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
	color: black;
}

.chess-info-player:nth-child(2) {
	background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
	color: white;
}

#chess-info-moves {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

#chess-info-moves-container {
	background-color: rgba(0, 0, 0, 0.5);
	flex-grow: 1;
	flex-shrink: 1;
	height: 0;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	overflow-y: auto;
	grid-auto-rows: min-content;
}

#chess-info-moves-container .chess-info-move {
	background-color: rgba(255, 255, 255, 0.02);
	background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.05), rgba(0, 0, 0, 0.05));
	border: calc(1px * var(--size-ratio)) #444444 solid;
	padding: calc(8px * var(--size-ratio));
	font-size: calc(20px * var(--size-ratio));
}

#chess-info-moves-buttons {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.chess-info-moves-button {
	padding: calc(5px * var(--size-ratio));
	background-color: #333333;
	border: calc(2px * var(--size-ratio)) #555555 solid;
	box-sizing: border-box;
	color: white;
	background-image: none;
	border-radius: 0;
	height: calc(30px * var(--size-ratio));
}

.chess-info-moves-button:hover {
	background-color: #2a2a2a;
}

.chess-info-moves-button:active {
	background-color: #202020;
}

#chess-info-buttons {
	display: flex;
	gap: calc(10px * var(--size-ratio));
	padding: calc(10px * var(--size-ratio));
}

#chess-info-buttons .chess-info-button {
	flex-grow: 1;
}

#chess-info-buttons .chess-info-button-socials {
	flex-grow: 0;
	aspect-ratio: 1/1;
	padding: 0;
	color: white;
	box-sizing: border-box;
	transition: border 0.1s ease-in-out;
}

#chess-info-buttons .chess-info-button-socials:hover {
	border-width: calc(3.5px * var(--size-ratio));
}

#chess-info-telegram {
	border: 0 white solid;
	background-color: #009eeb;
}

#chess-info-github {
	border: 0 #1b1f23 solid;
	background-color: white;
}

.chess-info-button .chess-button-icon {
	height: 70%;
	aspect-ratio: 1/1;
	background-size: cover;
}

.chess-info-moves-button .chess-button-icon {
	height: 100%;
	aspect-ratio: 1/1;
	background-size: cover;
}

#chess-info-restart .chess-button-icon {
	background-image: url(../img/icons/restart.png);
}

.chess-info-computer .chess-button-icon {
	background-image: url(../img/icons/computer.png);
}

#chess-info-moves-start .chess-button-icon, #chess-info-moves-end .chess-button-icon {
	background-image: url(../img/icons/end.png);
}

#chess-info-moves-back .chess-button-icon, #chess-info-moves-forward .chess-button-icon {
	background-image: url(../img/icons/forward.png);
}

#chess-info-moves-start .chess-button-icon, #chess-info-moves-back .chess-button-icon {
	transform: scaleX(-100%);
}

#chess-info-rotate-board .chess-button-icon {
	background-image: url(../img/icons/rotate-board.png);
}

#chess-info-rotate-pieces .chess-button-icon {
	background-image: url(../img/icons/rotate-pieces.png);
}

#chess-info-telegram .chess-button-icon {
	background-image: url(../img/icons/telegram.png);
}

#chess-info-github .chess-button-icon {
	background-image: url(../img/icons/github.png);
}