body {
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	background: black;
	--background: url("../img/backgrounds/forest.png");
}

body, p {
	margin: 0;
}

#background {
	width: 100%;
	height: 100vh;
	background-color: white;
	background-image: var(--background);
	background-size: cover;
	background-position: 50% 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 20px;
}

#header, #footer {
	width: 100%;
	height: 60px;
	background-color: rgba(0, 0, 0, 0.9);
	color: white;
	box-sizing: border-box;
	padding: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
}

#header {
	font-weight: 600;
	font-size: 36px;
}

#footer {
	font-weight: 300;
	font-size: 24px;
}

#main {
	flex-grow: 1;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: auto;
}

#main.is-vertical {
	padding: 0;
}

#container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 50px;
	height: 100%;
	box-sizing: border-box;
}

#main.is-vertical #container {
	flex-direction: column;
}

.chess-moves.vertical {
	width: 100%;
	aspect-ratio: 11/1;
	background-color: rgba(255, 255, 255, 0.3);
}

.chess-buttons.vertical {
	width: 100%;
	aspect-ratio: 11/1;
	background-color: rgba(255, 255, 255, 0.3);
}

#main.is-vertical .horizontal {
	display: none;
}

#main:not(.is-vertical) .vertical {
	display: none;
}

#chess-board {
	background-color: rgba(255, 255, 255, 0.3);
	aspect-ratio: 1/1;
	height: 100%;
}

#main.is-vertical #chess-board {
	width: 100%;
	height: auto;
}

#chess-info {
	background-color: rgba(255, 255, 255, 0.3);
	aspect-ratio: 2/3;
	height: 100%;
}